input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4fad52;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #357c38;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

* {
    font-family: calibri, system-ui;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

